# Packages for Agents and AI
langgraph
langchain
langchain-community
langchain-openai
langfuse

# Packages for API
flask
flask-cors
requests
websocket

# Miscellaneous Packages
graphviz
pdfplumber

# Packages for Frontend
streamlit
watchdog