# Packages for Agents and AI
langgraph
langchain
langchain-community
langchain-openai
langfuse

# Packages for API
flask
flask-cors
requests

# Miscellaneous Packages
graphviz
pdfplumber

#streamlit
streamlit