# Packages for Agents and AI
langgraph
langchain
langchain-community
langchain-openai
langchain-google-genai
langfuse

# Packages for API
flask
flask-cors
requests
websocket-client
fastapi
uvicorn[standard]

# Miscellaneous Packages
graphviz
pdfplumber

# Packages for Frontend
streamlit
watchdog